{% extends 'base.html' %}

{% block title %} Language Delete {% endblock %}

{% block content %}

<div class="container my-4">
    <h1 class="text-center mb-4">Delete Language</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="alert alert-warning">
                <h4 class="alert-heading">Confirm Delete</h4>
                <p>Are you sure you want to delete the language "{{ language.name }}"?</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="{% url 'language_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
